<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Information</title>
  </head>
  <body>

    <div>
    <form class="middle" action="/movie" method="get">
      Search Movie: <input type="text" name="search" value="">
      <button>Submit</button>
    </form>
  </div>

  </body>
</html>
