<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Information</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <!-- <figure>
  <p><img class=scaled src="st-tropez.jpg"
    alt="St. Tropez">
  <figcaption>Saint Tropez and its
    fort in the evening sun</figcaption>
</figure> -->


        <div id= "movies">
        <h1> <%=mData["Title"]%></h1>
        <img class=scaled src=<%=mData["Poster"]%>
          alt="St. Tropez">
        <h1> <%=mData["Year"]%></h1>
      </div>
        <!-- <h1> <%=mData["Poster"]%></h1> -->
  </body>
</html>
